header{
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}
table{
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    margin: 5px;
    border-color: black;
    border-style: outset;
}
th, td{
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    margin: 5px;
    border-color: black;
    border-style: outset;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
footer{
    color: gray;
}